{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>
      <b>작성자 : <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a></b>
    </p>
    <p>글 번호 : {{ article.pk }}</p>
    <p>글 제목 : {{ article.title }}</p>
    <p>글 내용 : {{ article.content }}</p>
    <div>
      {% comment %} form에 id값으로 articlepk를 설정한다.  {% endcomment %}
      <form class="like-form" data-article-id="{{ article.pk }}">
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
        {% comment %} 버튼에 아이디값을 준다. {% endcomment %}
          <button id="like-{{ article.pk }}">좋아요 취소</button>
        {% else %}
          <button id="like-{{ article.pk }}">좋아요</button>
        {% endif %}
      </form>
    </div>
    {% comment %} 좋아요 명수에 span으로 Id값을 준다. {% endcomment %}
    <p><span id="like-count-{{ article.pk }}">{{ article.like_users.all|length }}</span>명이 이 글을 좋아합니다.</p>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
    <hr>
  {% endfor %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% comment %} <script>
    const forms = document.querySelectorAll('.like-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    forms.forEach(form => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
          headers: {'X-CSRFToken':csrftoken}
        })
        .then(response => {
          const { count, liked } = response.data
          console.log(count, liked)
          
          const likeButton = document.querySelector(`#like-${articleId}`)

          if (liked) {
            likeButton.innerText = '좋아요 취소'
          } else {
            likeButton.innerText = '좋아요'
          }

          const likeCount = document.querySelector(`#like-count-${articleId}`)
          likeCount.innerText = count
        })
      })
    })
  </script> {% endcomment %}
  <script>
    // forms 를 받아온다.
    const forms = document.querySelectorAll('.like-form')
    // form 을 forEach로 받아오면서 
    forms.forEach((form) => {
      // 각 form에 submit event listener를 단다.
      form.addEventListener('submit', (event) => {
        // submit prevent 이벤트를 해주고,
        event.preventDefault()
        console.log(event)
        // articleId와 csrf토근값을 받아온다.
        const articleId = event.target.dataset.articleId
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // axios를 통해 AJAX 통신을 한다. 
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
          headers: {'X-CSRFToken':csrftoken}
        })
        .then((response) => {
          console.log(response)
          // 받아온 response를 통해 좋아요 버튼과 좋아요 명수 카운트 값을 바꿔준다.
          const { liked, count } = response.data
          const likeButton = document.querySelector(`#like-${articleId}`)
          
          if (liked) {
            likeButton.innerText = '좋아요 취소'
          } else {
            likeButton.innerText = '좋아요'
          }

          const countSpan = document.querySelector(`#like-count-${articleId}`)
          countSpan.innerText = count
        })
        .catch(error => {
          console.log(error)
          alert(error.message)
        })

      })
    })
    
    
  </script>
{% endblock %}
